body {
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   text-align: center;
   overflow:hidden;
   height: 100%;
   width: 100%;
}
 #calendar {
   position: absolute;
   right: 5px;
   top: 80px;
   margin: 10px 0 10px 0;
   padding-bottom: 20px;
   height: 87%;
   overflow-x: hidden;
   overflow-y: scroll;
}
   /* ----------- */
   /* User Styles */
   /* ----------- */

   /* Footer Styles */
footer #bottomSpan {
   position: absolute;
   bottom: 0px;
   left: 10px;
}

   /* Space between header and buttons */
.jumbotron h2 {
   margin-top:-20px;
}

.row {
   margin-left:-50px;
}

.toolbar ul li  {
   margin: 5px 0 0 0;
   text-align: left;
}

.toolbar-btn {
   width: 150px;
}
/*----------------- */
/* Button Dropdowns */
/*----------------- */
.btn-group {
   width: 150px !important;
}
.toolbar-dropdown  {
   position:relative;
   width: 100%;
   padding-left: 0px;
   padding-right: 0px;
}
.toolbar-dropdown .caret {
   position: absolute; right: 8px;
   top: 5px;
}
/* Left Menu Buttons */
.btn-menu {
   width: 140px;
   text-align: left !important;
}
/*----------------- */
/* External Events  */
/*----------------- */
#external-events {
   width: 260px;
   padding: 0 10px;
   border: 1px solid #ccc;
   background: #eee;
   text-align: left;
   display: none;
   margin: 10px;
}
#external-events h4 {
   font-size: 1.25em;
   margin-top: 0;
   padding-top: 1em;
}

.external-event {
   width: 90% !important;
   margin: 10px;
   padding: 2px 4px;
   color: #fff;
   font-size: .85em;
   cursor: pointer;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
#colorCode {
   width: 90%;
   padding: 0 10px;
   border: 1px solid #ccc;
   background: #eee;
   text-align: left;
   margin: 10px;
   display: none;
}
#colorCode h4 {
   font-size: 1.25em;
   margin-top: 0;
   padding-top: 1em;
}
#busy, #busyCode
{
   background: #000000;
}
#available, #availableCode
{
   background: #32CD32;
}
#custom, #customCode
{
   background: #3366CC;
}
#scheduledCode
{
   background: ORANGE;
}
#coverCode
{
   background: PURPLE;
}
#pickUpCode
{
   background: RED;
}
#eventCode
{
   background: #480091;
}
#external-events p
{
   margin: 1.5em 0;
   font-size: 1em;
   color: #666;
}

#external-events p input
{
   margin: 0;
   vertical-align: middle;
}
#copy_brand  {
   color: #000;
   font-weight: bold;
   position: fixed; right: 5px;
   text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);

   -webkit-transition: all .3s linear;  
   -moz-transition:    all .3s linear;  
   -o-transition: 	  all .3s linear;  
   -ms-transition: 	  all .3s linear;  
   transition: 	     all .3s linear;
}

#copy_brand:hover  {
   color:#FAFAFA;
}
#employeeLoginForm .form-inline {
   width: 50%;
}
.slide {
   position: relative;
   z-index: 1030;
}
.leftNavOuter {
   position: absolute;
   left: -310px;
   top: 10px;
}
.leftNavOuter #menu-toggle-outer {
   position: absolute;
   top: 5px;
   right: -60px;
}
.leftNavOuter .leftNav #menu-toggle-inner {
   position: absolute;
   top: 5px;
}
.leftNavOuter .menu-toggle {
   display: block;
   width: 48px;
   height: 32px;
   padding: 8px 12px;
   background-color: transparent;
   border: 1px solid #dddddd;
   border-radius: 4px;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #dddddd;
}

.menu-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.menu-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.leftNav  {
   height: 100%;
   width: 310px;
   background: #EEE;
   overflow-y: scroll;
   overflow-x: none;
}
/* -------- */
/* Loading  */
/* -------- */
.overlay {
   display:none;
   z-index: 2000;
   height: 100%;
   width: 100%;
   background-repeat:no-repeat;
   background-position:center;
   position:fixed;
   top: 0px;
   left: 0px;
}
.overlay-container {
   display:none;
   background: #CCC;
   z-index: 2001;
   width: 50%;
   position: fixed;
   left: 25%;
   top: 30%;
   padding: 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
.progress-bar {
   z-index: 3000;
   background: black;
}

/* ---------------- */
/* Right Click Menus */
/* ---------------- */
.dropdown ul li a {
   position: relative;
}
.dropdown ul li a input {
   position: absolute;
   right: 10px;
   top: 0px;
}
/* ---------------- */
/* Newsfeed */
/* ---------------- */
#newsfeed ul {
   list-style-type: none;
   margin-left: 5px;
   padding-left: 0px;
   padding-right: 10px;
}

@media only screen and (max-width: 770px)  {
   #employeeLoginForm .form-inline {
      width: 90%;
      margin-left: 40px;
   }
   #navbar div.container {
      position: absolute; left: 0px !important;
   }
   .nav-collapse ul.nav li {
      background : #333333;
   }
   .nav-collapse ul.nav li a.disabled {
      display:none;
   }
   .nav-collapse ul.nav li.dropdown ul.dropdown-menu li {
      background : #ffffff;
   }
   .calendar-button {
      width: 60%;
   }
   #copy_brand {
      display: none;
   }
}
@media only screen and (max-width: 400px)  {
   .calendar-button {
      width: 100%;
   }
   .fc-header-center h2 {
      font-size: 18pt;
   }
   .fc-day-header {
      font-size: 14px;
      font-weight: normal;
   }
}
.calendar-button {
   margin: 10px 0 10px 20px;
}
/*------------ */
/* Form Styles */
/*------------ */
.form-group .border-label {
   text-align: center !important;
   /*border: 1px solid black;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   margin: 0px 5px 5px 10px;
   padding-bottom: 5px;
}
.form-group .radio-label {
   text-align: center !important;
   /*border: 1px solid black;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   margin: 0px 5px 5px 10px;
   padding-bottom: 5px;
   color: #FFF;
}
.label-busy {
   background: #000000 !important;
}
.label-custom {
   background: #3366CC;
}
.form-group input.radio {
   height: 10px;
   width: 10px;
}

