body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
#top {
    display:none;
}
#calendar {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 900px;
    width: 670px;
}
h1 {
    margin-left: 10px;
    text-align: left;
}
#top #toolbar {
  display:none;
}
#buttons {
   display:none;
}
#buttons button {
    display:none;
}
