<style type='text/css'>
    body {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }
    #top {
        width: 100%;
        height: 70px;
        background: #5B6776;
        float: left;
    }
    #calendar {
        margin-top: 10px;
        margin-right: 10px;
        position: absolute;
        right: 5px;
        top: 70px;
    }
    h1 {
        margin-left: 10px;
        text-align: left;
    }
    #top #toolbar {
        position: relative;
        right: 10px;
        top: 20px;
        float: right;
    }
    #buttons {
        float: left;
        margin: 20px;
    }
    #buttons button {
        margin-top: 5px;
        width:15em;
    }
    #newsfeed {
        float: left;
        border: 2px solid black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 2px;
    }
    #newsfeed ul {
        height: 550px;
        width: 280px;
        overflow-y: scroll;
        list-style-type: none;
        margin-left: 1px;
        margin-top: 0px;
        margin-right: -1px;
        padding: 0px;
    }
    #newsfeed li {
        padding-left: 5px;
        text-align: left;
    }
    #newsfeed li textarea {
        float: left;
    }
    #newsfeed li button {
        float: left;
    }
    #newsfeed li div {
        text-align: left;
    }
    #newsfeed #addNewPost {
        margin-right: 60px;
        -moz-box-shadow: inset 0px 0px 0px 0px #caefab;
        -webkit-box-shadow: inset 0px 0px 0px 0px #caefab;
        box-shadow: inset 0px 0px 0px 0px #caefab;
        background-color: #FFFFFF;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 2px solid #000000;
        display: inline-block;
        padding: 2px 2px;
        text-decoration: none;
    }
    #addNewPost:hover {
        background-color: #AAAAAA;
    }
    #newsfeed .mainButton {
        -moz-box-shadow: inset 0px 0px 0px 0px #caefab;
        -webkit-box-shadow: inset 0px 0px 0px 0px #caefab;
        box-shadow: inset 0px 0px 0px 0px #caefab;
        background-color: #FFFFFF;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 2px solid #000000;
        display: inline-block;
        padding: 2px 2px;
        text-decoration: none;
    }
    #newsfeed .mainButton:hover {
        background-color: #AAAAAA;
    }
    .nightlyEmailTable td, 
    .nightlyEmailTable th
    {
       padding:5px;
       border:1px solid black;
    }
</style>